services:
  redis:
   image: redis
   container_name: redis
   ports:
    - "6378:6379"
  mongo:
   image: mongo:7
   container_name: mongo 
   ports: 
    - "27018:27017"
  api-analytics:
   build: ./analystics-api 
   container_name: api 
   ports:
    - "8000:8000"
   env_file:
     .env
   depends_on:
    mongo:
     condition: service_started
    redis:
     condition: 
      service_started
  